% Plantilla "facultad" — TP típico con carátula. Generado por Xtal (by UNIT).
\documentclass[12pt,a4paper]{article}
<< preamble >>
\begin{document}
<< cover >>
<% if show_toc %>
\tableofcontents
\newpage
<% endif %>
<< body >>
\end{document}
